<template>
      <div @keydown.esc="handle_esc()" v-on:keyup="keyHandler($event)" class="danaxa-test" tabindex="0">
            <div class="toolSet">
                  <div class="hand-mode" @click="selected_tool = ''">
                        <img :src="require('@/assets/icons/hand-mode.svg')" alt="Hand Mode" :class="{'active': hand_mode, 'disabled' : selected_tool}">
                  </div>
                  <ul class="tools">
                        <li v-for="(tool, index) in toolSet" :key="`lovely-tool-${index}`" @click="selected_tool = tool['name']">
                              <input type="radio">
                              <img :src="require(`@/assets/icons/${tool['icon']}.svg`)" :alt="tool.name" :class="selected_tool !== tool['name'] ? 'disabled' : ''">
                              <span class="pop-up">{{tool['name']}}</span>
                        </li>
                  </ul>
            </div>
      </div>
</template>

<script>
export default {
      name: "danaxa-test",
      data() {
            return {
                  hand_mode: true,
                  selected_tool: '',
                  shortKey : 0,
                  toolSet : [
                        {name:'Screen Mode', icon: 'screen-mode', shortKey:1},
                        {name:'Ball Pen', icon: 'edit', shortKey:2},
                        {name:'Magic Wand', icon: 'wand', shortKey:3},
                        {name:'Brush', icon: 'brush', shortKey:4},
                        {name:'Eraser', icon: 'eraser', shortKey:5},
                        {name:'Map Pin', icon: 'map-pin', shortKey:6},
                        {name:'Frame', icon: 'frame', shortKey:7},
                  ]
            };
      },
      methods: {
            handle_esc(){
                  this.selected_tool = '';
                  this.hand_mode = true;
            },
            keyHandler (event) {
                  let shortKey = event.which;
                  switch (shortKey) {
                        case 49:
                              this.selected_tool = this.toolSet[0].name;
                              break;
                        case 50:
                              this.selected_tool = this.toolSet[1].name;
                              break;
                        case 51:
                              this.selected_tool = this.toolSet[2].name;
                              break;
                        case 52:
                              this.selected_tool = this.toolSet[3].name;
                              break;
                        case 53:
                              this.selected_tool = this.toolSet[4].name;
                              break;
                        case 54:
                              this.selected_tool = this.toolSet[5].name;
                              break;
                        case 55:
                              this.selected_tool = this.toolSet[6].name;
                              break;
                  
                        default:
                              break;
                  }
            }
      }
};
</script>

<style lang="scss">
      @import 'danaxa';
</style>
