.danaxa-test {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      height: 100%;
      width: 100%;
      background: #ddd;

      .toolSet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: base;
            width: 3%;
            min-width: 60px;
            background: #464748;
            border-radius: 10px;
            margin: 20px;

            .hand-mode {
                  padding: 20px 10px;
                  border-bottom: 2px solid rgb(46, 46, 46);
                  box-sizing: border-box;
                  width: 100%;
                  text-align: center;
                  img {
                        width: 30px;
                        cursor: pointer;
                  }
            }

            .tools {
                  position: relative;
                  width: 100%;
                  margin: 0;
                  padding: 0;

                  li {
                        position: relative;
                        padding: 10px 10px;
                        max-width: 100%;
                        text-align: center;
                        cursor: pointer;

                        img {
                              max-width: 20px;
                        }
                        .pop-up {
                              display: none;
                        }
                        &:hover {
                              .pop-up {
                                    display: block;
                                    position: absolute;
                                    left: 44px;
                                    width: 67px;
                                    font-size: 70%;
                                    top: 0px;
                                    padding: 13px;
                                    background: #464748;
                                    border-radius: 8px;
                                    color: #fff;
                              }
                        }

                        &:last-child {
                              .pop-up {
                                    top: 6px;
                              }
                        }
                  }

                  [type="radio"] {
                        position: absolute;
                        opacity: 0;
                        width: 0;
                        height: 0;
                  }
            }

            .disabled {
                  filter: grayscale(1);
                  transition: all 0.5s;
            }
      }
}
