<template>
      <div id="app">
            <danaxa></danaxa>
      </div>
</template>

<script>
import danaxa from "@/components/danaxa";
export default {
      name: "App",
      components: {
            danaxa
      },
};
</script>

<style>
body {
      margin: 0;
      padding: 0;
      height: 100vh;
      width: 100vw;
}

#app {
      height: 100%;
      width: 100%;
      background: #e3f0f3;
}

li {
      list-style-type: none;
}
</style>
